[submodule "protocol"]
	path = protocol
	url = https://github.com/ihsanharh/Protocol
	branch = pre/1.26.0
[submodule "network"]
	path = network
	url = https://github.com/Kas-tle/NetworkCompatible.git
	branch = master
